/* Estilos para o modal de detalhes de um user */

/* Define a posição e o layout do modal */
.modalUserDetails {
    position: fixed; /* Fixa o modal na tela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; /* Inicialmente oculto */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    z-index: 2; /* Z-index para garantir que esteja acima dos outros elementos */
  }
  
  /* Define o estilo do modal quando está aberto */
  .modalUserDetails.modal-open {
    display: flex; /* Mostra o modal */
  }
  
  /* Estilo para o overlay de fundo do modal */
  .modal-overlay {
    position: fixed; /* Fixa o overlay na tela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Cor de fundo semi-transparente */
    z-index: 2; /* Z-index para garantir que esteja acima dos outros elementos, exceto o modal */
  }
  
  /* Estilos para o conteúdo do modal */
  .modal-contentUserDetails {
    position: relative; /* Posição relativa para os elementos filhos */
    z-index: 3; /* Z-index para garantir que esteja acima do overlay */
    background-color: white; /* Cor de fundo do modal */
    width: 80%; /* Largura do modal */
    height: 80%; /* Altura do modal */
    max-height: 500px; /* Altura máxima do modal */
    max-width: 500px; /* Largura máxima do modal */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    padding: 20px; /* Espaçamento interno */
    font-family: Arial, sans-serif; /* Fonte do texto */
    display: flex; /* Layout flexível */
    justify-content: space-between; /* Distribuição de espaço entre os elementos */
    color: var(--green3); /* Cor do texto */
    margin-top: 50px; /* Margem superior */
  }
  
  /* Estilos para o formulário dentro do modal */
  .formUserDetails {
    align-items: flex-start; /* Alinha os itens do formulário à esquerda */
  }
  
  /* Estilos para o título do modal */
  .userDetailsTitle {
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin-bottom: 50px; /* Margem inferior */
    text-align: center; /* Alinhamento do texto */
    width: 100%; /* Largura total */
  }
  
  /* Estilos para o conteúdo à esquerda do modal */
  .modal-content-left {
    width: 70%; /* Largura do conteúdo */
  }
  
  /* Estilos para as etiquetas do formulário */
  .labelUserDetails {
    display: block; /* Exibe como bloco */
    margin-bottom: 20px; /* Margem inferior */
    font-weight: bold; /* Peso da fonte */
    text-align: left; /* Alinhamento do texto */
  }
  
  /* Estilos para a foto do user */
  .userDetailsPhoto {
    width: 150px; /* Largura da foto */
    height: 150px; /* Altura da foto */
    border-radius: 50%; /* Borda arredondada para uma aparência circular */
    object-fit: cover; /* Redimensiona a imagem para cobrir todo o espaço disponível */
    margin-top: 160px; /* Margem superior */
  }
  
  /* Estilos para o botão de fechar */
  .close {
    position: absolute; /* Posição absoluta */
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    cursor: pointer; /* Cursor do mouse */
  }
  
  /* Estilos para o grupo de botões no modal */
  .button-groupUserDetails {
    display: flex; /* Layout flexível */
    margin-top: 50px; /* Margem superior */
    gap: 30px; /* Espaçamento entre os botões */
  }