
.column {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    height: 550px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border: 3px solid #c4c3c3a6;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--green2) var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column h2 {
    color: var(--green3);
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid var(--green3);
  }
  
  .column-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--green2) var(--white);
  }