.user-photo {
    display: block;
    margin-top: 50px; /* Aumenta a margem superior */
    width: 200px; /* Aumenta a largura */
    height: 200px; /* Aumenta a altura */
    border-radius: 50%;
    object-fit: cover;
  }



.create-task-page {
  max-width: 800px;
  width: 100%;
  padding: 0 10px;
}

.form-label {
  font-weight: bold;
}

.textarea-description {
  font-size: 14px;
  height: 215px;
}

@media (max-width: 768px) {
  .create-task-page {
    padding: 0 5px;
  }
}


  