.message-container {
  max-height: 400px; 
  overflow-y: auto; 
}

.page-content {
  overflow-y: auto; 
}

.sent-message {
  background-color: #DCF8C6;
  color: black;
  border-radius: 18px;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
  width: 60%;
  word-wrap: break-word;
  justify-content: flex-end;
}

.received-message {
  background-color: #ECECEC;
  color: black;
  border-radius: 18px;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
  width: 60%;
  word-wrap: break-word;
  justify-content: flex-start;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 20px;
}

.message-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  object-fit: cover;
}

.message-sender {
  display: flex;
  align-items: center;
}

.message-timestamp {
  font-size: 0.6rem;
}

.message-text {
  font-size: 0.8rem;
  margin: 0;
}

