.profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .profile-background {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    min-height: 100vh;
  }
  
  .profile img {
    width: 7rem;
    height: 7rem;
  }
  
  .profile input {
    margin-bottom: 10px;
  }
  
  .profile-content {
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    height: 90%;
    min-height: 40rem;
    min-width: 40rem;
    padding: 1rem;
    border-radius: 0.25rem;
  }
  
  .profile-img {
    width: 7rem;
  }
  
  .form-label {
    display: inline-block;
    width: 100px;
  }
  
  .profile-text {
    display: inline-block;
    margin-bottom: 1rem; 
  }
  
  .form-control-custom {
    min-width: 15rem; 
  }
  .form-control {
    min-width: 15rem; 
  }

  .form-label {
    display: inline-block;
    width: 100px;
    margin-bottom: 2rem; 
    font-weight: bold;
  }
 /* Nova classe para o div das tarefas */
.task-totals {
    margin-top: 20px;
  }
  
  /* Media queries para responsividade */
  @media (max-width: 768px) {
    .profile-content {
      min-width: auto;
    }
    .form-control-custom, .form-control {
      min-width: auto;
    }
  }