.header {
    background-color: var(--green3); /* Cor de fundo do cabeçalho */
    height: 60px; /* Altura do cabeçalho */
    display: flex; /* Permite que os elementos sejam exibidos em linha */
    position: relative; /* Define o cabeçalho como um elemento de posição relativa */
}

.header div {
    color: white; /* Cor do texto dentro do cabeçalho */
    margin-top: 20px; /* Margem superior para espaçamento */
}

.dateHeader {
    right: 150px; /* Distância do lado direito */
    position: absolute; /* Define o posicionamento absoluto */
}
  