.header {
  background-color: var(--green3);
  height: 12vh;
}

@media (max-width: 600px) {
  .header {
    height: 10vh;
  }

  .header img, .user-image {
    width: 30px; 
    height: 30px; 
  }

  .welcome-text {
    font-size: 0.8em;
  }

  .dateHeader {
    font-size: 0.8em;
  }
}

@media (min-width: 768px) {
  .header-row {
    flex-direction: row;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .logoutButton {
    font-size: 0.8em; 
  }
}


.dateHeader, .welcome-text, .notification-icon {
  color: white;
  margin-right: 1em;
}

.header img, .user-image {
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  object-fit: cover; 
  margin-right: 1em;
}

.logoutButton {
  background-color: var(--green3);
  position: relative;
}

.logoutButton:hover {
  background-color: rgba(221, 221, 221, 0.5);
}

.logoutIcon {
  margin-left: 0.5em; 
}

.notification-dropdown {
  position: absolute;
  right: 0;
  background-color: white;
  width: 200px;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 1000;
  border: 1px solid #ccc; 
  border-radius: 5px; 
}




