.header {
    background-color: var(--green3);
    height: 60px;
    position: relative;
  }
  
  .dateHeader {
    color: white;
    position: absolute;
    right: 150px;
  }
  
  .header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }