.user-card {
  width: 80%;
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  text-align: center;
}