.user-card {
  width: 60%; /* Diminua este valor para tornar o cartão menor */
  margin: 0 auto;
  border: none;
}

.image-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px; /* Diminua este valor para tornar a imagem menor */
}

.user-image {
  width: 60px; /* Diminua este valor para tornar a imagem menor */
  height: 60px; /* Diminua este valor para tornar a imagem menor */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.inactive {
  opacity: 0.5;
}
