.sidebar {
    width: 200px;
    height: 100vh;
    background-color: var(--green3);
    padding: 20px;
  }
  
  .sidebar a {
    display: block;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
  }
  
.sidebar a:hover {
    background-color: rgba(221, 221, 221, 0.5);
}
  .sidebar-sublink {
    font-size: 0.9em; /* Faz o link aparecer um pouco menor */
    margin-left: 10px; /* Move o link um pouco para a direita */
  }

  .sidebar-mainlink {
    font-size: 1.2em; /* Faz o link aparecer um pouco maior */
  }